
.btnHolder{
  float: right;
  padding-right: 20px;
}

.championMastery{
  text-align: center;
  max-width: 20%;
  float: right;
  background: grey;
}

.masteryIcon{
  width: 80%;
  padding: 10px;
}
.masteryIcon:hover{
  opacity: .5;
}

.container {
  margin-left: 10%;
}

.matchIcon {
  width: 10%;
  float: bottom;
  margin: 5px;
}

.matchList{
  width: 70%;
  //background: #a3d0ff;
  border-radius: 5px;
}

.oneMatch{
  border-radius: 5px;
  background: #a3d0ff;
  margin: -4px;
}

.addNotes{
  margin-top: -25px;
  right:30%;
  float:right;
}

.whichLane{
  padding-left: 7px;
}
.teamOne, .teamTwo{
  max-width: 50%;
}

.teamTwo {
}

.matchTable {
  width: 100%;
}

.champIcon {
  height: 45px;
}
.rankIcon{
  height: 45px;
  float: left;
  top: 50%;
}
.test{

}

.moreInfo {
  float: right bottom;
  position: relative;
  bottom: 0px;
}

.win {

  height: 20%;
}

.loss {

  height: 20%;
}
/*table start*/
th{
text-align: center;
}

td {
  padding-left: 10px;
}

.won{
  background: #639fff;
  float: right;
  width: 50%;
}

.lost{
  background: #ff6b70;
  width: 50%;
}

.teamOne {
  background: purple;
}

.teamTwo {
  background: blue;
}
