.searchButton {
  margin: 5px;
}

.notesSearchForm, .searchBar {
  display: inline-block;
  margin: 5px;
  width: 100%;

}
.searchBarsHolder {
  display: inline-block;
}

.notesSearch{
  font-size: 18px;
  border: none;
  margin: none !important;
  height: 35px;
  width: 250px;
}

.dropDown{
  position: relative;
    width: 200px;
    height: 35px;
    padding: 10px;
    margin: 0 auto;
    // background: #9bc7de;
    // color: #fff;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: none;
}

.options{
  font-family: $font;
}

.notesbackgroundImage{
  position:fixed;
  bottom:0px;
  right: 0px;
  height: 45%;
}

.matchDisplay{
  display: inline-block;
  // border-style: solid;
  width: 60%;
}
.selected{
  display: inline-block;
  margin: 12px;
}

.notesList{
  list-style-type: none;
}
.notes{
  background-color: #fcfcfc;
  width: 60%;
  font-size: 18px;
  margin: 5px;
  padding: 3px;
}
