
<div ng-init='mc.initSummoner()' class="container">
  <div class="SummonerInfo">
    <h2>{{mc.summonerSearch.name}}</h2>
  </div>
  <div class="">
    <button ng-click='mc.currentGameCall()' type="button">Current Game</button>
    <div class="currentGame">
      <div class="teamOne">
        <div ng-repeat='players in mc.oneCurrentGameTeam' class="">
          <p>{{players.name}}</p>
          <p>{{players.champion}}</p>
        </div>
      </div>
      <div class="teamTwo">
        <div ng-repeat='players in mc.twoCurrentGameTeam' class="">
          <p>{{players.name}}</p>
          <p>{{players.champion}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="championMastery">
    <div ng-repeat='champs in mc.championMastery' class="">
      <img class='' ng-src="../images/champIcons/{{champs.championId}}.png" alt="">
      <h3>{{champs.championLevel}}</h3>
    </div>
  </div>

  <div class="matchList">
    <div ng-repeat='match in mc.recentMatchData' class="">
      <hr>
      <h3>{{match.lane}}</h3><img class='matchIcon' ng-src="../images/champIcons/{{match.champion}}.png" alt="">

      <button class='moreInfo' ng-click='mc.specificMatchCall($index)'>More Info</button>

      <div class="oneMatch" ng-if='match.showDeets'>
        <div ng-if='mc.shownotes' class="">
          <button ng-click='mc.addNotes($index)' class='addNotes' type="button" name="button">Add Notes</button>
        </div>
        <div class="table-responsive won">
          <table class='table-bordered matchTable'>
            <thead>
              <td>Champ</td>
              <td>Name</td>
              <td>Kda</td>
              <td>lane</td>
            </thead>

            <tr class='win' ng-repeat='players in match.specificMatchWinning'>
              <td><img class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt=""></td>
              <td>{{players.summonerName}}<p>{{players.rank}}</p></td>
              <td>{{players.kills}}/{{players.deaths}}/{{players.assists}}</td>
              <td>{{players.lane}}</td>
            </tr>
          </table>
        </div>

        <div class="table-responsive lost">
          <table class='table-bordered matchTable'>
            <thead>
              <td>Champ</td>
              <td>Name</td>
              <td>Kda</td>
              <td>lane</td>
            </thead>

            <tr class='loss' ng-repeat='players in match.specificMatchLosing'>
              <td><img class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt=""></td>
              <td>{{players.summonerName}}<p>{{players.rank}}</p></td>
              <td>{{players.kills}}/{{players.deaths}}/{{players.assists}}</td>
              <td>{{players.lane}}</td>
            </tr>
          </table>
        </div>
      </div>
      <div ng-if='match.viewAddNotes' class="editNotes">
        <div class="">
          <img ng-repeat='players in mc.laneMatchup.wonLane' class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt=""><h4>vs.</h4>
          <img ng-repeat='players in mc.laneMatchup.lostLane' class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt="">
        </div>
          <input ng-submit='mc.postNotes()' ng-model='mc.laneMatchup.notes' type="text" name="" value="" placeholder="Add your notes on this match up">
          <button ng-click='mc.postNotes()' type="button" name="button">Save</button>
      </div>

    </div>
  </div>
</div>
