<div ng-if='mc.loading' class="">
  <img ng-src="../images/background/nautilusLoadingGif.png" alt="">
</div>
<div ng-init='mc.initSummoner()' class="container">
  <div class="SummonerInfo">
    <h2>{{mc.summonerSearch.name}}</h2>
  </div>
  <div ng-if='mc.searchSuccess' class="">
    <button ng-click='mc.currentGameCall()' type="button">Current Game</button>
    <div class="currentGame">
      <div class="teamOne">
        <div ng-repeat='players in mc.oneCurrentGameTeam' class="">
          <p>{{players.name}}</p>
          <img class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt="">
        </div>
      </div>
      <div class="teamTwo">
        <div ng-repeat='players in mc.twoCurrentGameTeam' class="">
          <p>{{players.name}}</p>
          <img class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt="">
         </div>
        </div>
      </div>
    </div>

    <div class="championMastery">
      <h3 ng-if='mc.searchSuccess'>Most Played Champions</h3>
      <div ng-repeat='champs in mc.championMastery' class="">
        <div ng-mouseover='champs.mastery = true' class="masteryHover" ng-mouseleave='champs.mastery = false'>
          <img class='masteryIcon' ng-src="../images/champIcons/{{champs.championId}}.png" alt="">
          <div class="masteryPointsBackground">
            <p class='masteryPoints' ng-if='champs.mastery'>Mastery Points: {{champs.championPoints}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="matchList">
      <div ng-repeat='match in mc.recentMatchData' class="oneMatch">
        <h3 class='whichLane'>Lane: {{match.lane}}</h3><img class='matchIcon' ng-src="../images/champIcons/{{match.champion}}.png" alt="">

        <button class='moreInfo' ng-click='mc.specificMatchCall($index)'>More Info</button>

        <div class="" ng-if='match.showDeets'>
          <div ng-if='mc.shownotes' class="">
            <button ng-click='mc.addNotes($index)' onclick='document.getElementById("myModal").style.display="block";' class='addNotes' type="button" name="button">Add Notes</button>
          </div>

          <div class="table-responsive won">
            <table class='table-bordered matchTable'>
              <thead>
                <th>Champ</th>
                <th>Rank</th>
                <th>Name</th>
                <th>Kda</th>
                <th>Lane</th>
              </thead>

              <tr class='win' ng-repeat='players in match.specificMatchWinning'>
                <td><img class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt=""></td>
                <td><img class='rankIcon' ng-src="../images/tier-icons/base-icons/{{players.rank}}.png" alt=""></td>
                <td>{{players.summonerName}}</td>
                <td>{{players.kills}}/{{players.deaths}}/{{players.assists}}</td>
                <td>{{players.lane}}</td>
              </tr>
            </table>
          </div>

          <div class="table-responsive lost">
            <table class='table-bordered matchTable'>
              <thead>
                <th>Champ</th>
                <th>Rank</th>
                <th>Name</th>
                <th>Kda</th>
                <th>Lane</th>
              </thead>

              <tr class='loss' ng-repeat='players in match.specificMatchLosing'>
                <td><img class='champIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt=""></td>
                <td><img class='rankIcon' ng-src="../images/tier-icons/base-icons/{{players.rank}}.png" alt=""></td>
                <td>{{players.summonerName}}</td>
                <td>{{players.kills}}/{{players.deaths}}/{{players.assists}}</td>
                <td>{{players.lane}}</td>
              </tr>
            </table>
          </div>

          <!-- The Modal -->
          <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close" onclick='document.getElementById("myModal").style.display="none";'>&times;</span>
              <div ng-if='match.viewAddNotes' class="">
                <div class="editNotes">
                  <h3>{{mc.laneMatchup.lane}}</h3>
                  <img ng-repeat='players in mc.laneMatchup.wonLane' class='noteChampIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt=""><h4>vs.</h4>
                  <img ng-repeat='players in mc.laneMatchup.lostLane' class='noteChampIcon' ng-src="../images/champIcons/{{players.champion}}.png" alt="">
                </div>
                <div class="inputNotes">
                  <input class='input' ng-submit='mc.postNotes()' ng-model='mc.laneMatchup.notes' type="textarea" name="" value="" placeholder="Add your notes on this match up">
                  <button class='saveBtn' ng-click='mc.postNotes()' onclick='document.getElementById("myModal").style.display="none";' type="submit" name="button">Save</button>

                </div>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
