
<div class="container">
  <form ng-submit='lc.registerUser()' class="">
    <input ng-model='lc.summonerName' type="text" name="" value="" placeholder="Summoner Name">
    <input ng-model='lc.password' type="text" name="" value="" placeholder="Password">
    <button ng-click='lc.loginUser()' type="button" name="button">Login</button>
    <button ng-click='lc.registerUser()' type="button" name="button">Register</button>
  </form>
  <div ng-if='lc.logged' class="">
    <h4>logged in in</h4>
  </div>
</div>
