
<div class="loginContainer">
  <form ng-submit='lc.registerUser()' class="loginForm">
    <input class='loginInput' ng-model='lc.summonerName' type="text" name="" value="" placeholder="Summoner Name">
    <input class='loginInput' ng-model='lc.password' type="text" name="" value="" placeholder="Password">
    <button class='loginBtn' ng-click='lc.loginUser()' type="button" name="button">Login</button>
    <button class='loginBtn' ng-click='lc.registerUser()' type="button" name="button">Register</button>
  </form>
<img class='backgroundImage' src="../../images/background/kaynbackground.png" alt="">
</div>
