<div class="container">
  <div ng-if='nc.notLoggedIn' class=''>
    <h2>You Must be logged in to views notes</h2>
  </div>

  <div  class=""> <!--put this back in the div ng-if='nc.loggedIn' -->
    <form class="searchForm" action="" method="">
      <div class="searchBarsHolder">
        <div class="searchBar">
          <angucomplete-alt id="ex3"
          placeholder="Search Champion"
          pause="100"
          selected-object="nc.selectedChampion1"
          local-data="nc.allChampionsArray"
          search-fields="name"
          title-field="name"
          minlength="1"
          input-class="notesSearch form-control-small"/>
        </div>
            <h2>vs</h2>
        <div class="searchBar">
          <angucomplete-alt id="ex3"
          placeholder="Search Champion"
          pause="100"
          selected-object="nc.selectedChampion2"
          local-data="nc.allChampionsArray"
          search-fields="name"
          title-field="name"
          minlength="1"
          input-class="notesSearch form-control-small"/>
        </div>
      </div>

      <select class="" name="" ng-model='nc.laneSearch'>
        <option value="TOP">Top Lane</option>
        <option value="JUNGLE">Jungle</option>
        <option value="MIDDLE">Middle Lane</option>
        <option value="BOTTOM">Bottom Lane</option>
      </select>
    </form>
    <button ng-click='nc.searchNotes()' type="button" name="button" class='searchButton'>Search</button>

    <div ng-repeat='notes in nc.returnNotes' class="">
      <p>{{notes}}</p>
    </div>
  </div>

</div>
