<div class="container">
  <div ng-if='nc.notLoggedIn' class=''>
    <h2>You Must be logged in to views notes</h2>
    <img class='notesbackgroundImage' src="../../images/background/oriannabackground.png" alt="">

  </div>

  <div ng-if='nc.loggedIn' class=""> <!--put this back in the div  -->
    <form class="notesSearchForm" action="" method="">
      <div class="searchBarsHolder">
        <div class="searchBar">
          <angucomplete-alt id="ex3"
          placeholder="Search Champion"
          pause="100"
          selected-object="nc.selectedChampion1"
          local-data="nc.allChampionsArray"
          search-fields="name"
          title-field="name"
          minlength="1"
          input-class="notesSearch form-control-small"/>
        </div>
            <h2>vs</h2>
        <div class="searchBar">
          <angucomplete-alt id="ex3"
          placeholder="Search Champion"
          pause="100"
          selected-object="nc.selectedChampion2"
          local-data="nc.allChampionsArray"
          search-fields="name"
          title-field="name"
          minlength="1"
          input-class="notesSearch form-control-small"/>
        </div>
      </div>
      <select class="dropDown" name="" ng-model='nc.laneSearch' >
        <option class='options' value="" disabled selected>Select Lane</option>
        <option class='options' value="TOP">Top Lane</option>
        <option class='options' value="JUNGLE">Jungle</option>
        <option class='options' value="MIDDLE">Middle Lane</option>
        <option class='options' value="BOTTOM">Bottom Lane</option>
      </select>
      <button ng-click='nc.searchNotes()' type="button" name="button" class='searchButton'>Search</button>

    </form>
    <div  class="matchDisplay">
      <h2 class='selected'>{{nc.selectedChampion1.originalObject.name}}</h2>
      <img class='selected champIcon' ng-src="../images/champIcons/{{nc.selectedChampion1.originalObject.id}}.png" alt="">
      <h2 class='selected'>{{nc.selectedChampion2.originalObject.name}}</h2>
      <img class='selected champIcon' ng-src="../images/champIcons/{{nc.selectedChampion2.originalObject.id}}.png" alt="">
      <h3 class='selected'>{{nc.laneSearch}}</h3>
    </div>
    <div class="">
      <ul class="notesList">
        <li ng-repeat='notes in nc.returnNotes' class='notes'>{{notes}}</li>
      </ul>
    </div>
  </div>

</div>
